@use "./variables" as *;

//Footer

.footer {
    padding: 50px 0;
    background-color: #2B2B39;
}
.footer .social {
    padding: 0 5px;
}

.menuTwo a,
.logoTwo h2 {
    color: $white;
}

.menuTwo a:hover,
.menuTwo a:visited {
    color: #B8B8B8;
}

.footer .wrapper,
.menuTwo, .logoTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuTwo a {
    padding: 0 75px;
}