@use "./variables" as *;

// Navigation
a {
    text-decoration: none;
    color: $text;
}

ul,.aboutText ul {
    list-style-type: none;
}

.navigation {
    height: 10vh;
}

a:hover,
a:visited {
    color: $black;
    text-decoration: underline #686868;
}

ul, .bodyText {
    color: $text;
}

.logo img {
    width: 35px;
    height: 35px;
}

.navigation, .menu,
.logo, .auth {
    display: flex;
    align-items: center;
}

p, button, h1 {
    font-family: "Inter", sans-serif;
}

h1 {
    color: $primary;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
}

h1, .bodyText {
    padding: 10px 0;
}

.bodyText {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 40px;
}

h2 {
    color: #2B2B39;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-left: 20px;
}

form, input {
    width: 150px;
    border: none;
    padding: 10px;
}

::placeholder {
    font-size: 0.7rem;
    opacity: 1;
    color: $text;
}

.menu {
    margin-right: 175px;
}

form {
    border-bottom: 1px solid #e5e5e5;
}

.generalButton,
.loginButton {
    background-color: $secondary;
    color: $white;
    font-size: 0.8rem;
    width: 170px;
    padding: 20px;
    margin-left: 40px;
    border: 1px solid $secondary;
    border-radius: 20%;
    cursor: pointer;
}

.loginButton {
    padding: 15px;
    width: 150px;
}

.options {
    display: flex;
}

.navigation {
    justify-content: space-between;
}

.menu ul {
    padding: 5px 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

.menu li {
    padding: 0 40px;
}

// Header 

.heroSection {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroImage {
    position: relative;
    width: 50%;

}

.heroImage .avaterTwo {
    margin-left: 25%;
}

.heroImage .avaterOne,
.heroImage .avaterTwo,
.heroImage .avaterThree {
    z-index: 20;
    position: relative;
}

.heroImage .triangle {
    position: absolute;
    top: 20%;
    left: 14%;
    z-index: 10;
}

.heroSection .heroText {
    width: 40%;
}

.subtitle {
    border-radius: 8px;
    background: #e7f1fd;
    color: $secondary;
    border: none;
    padding: 15px 50px;
    font-size: 0.8rem;
}

.gradientBackground {
    background: linear-gradient(340deg, #D4E7FE 0%, #FFFFFF 90%);
}

.generalButton:hover,
.loginButton:hover {
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
}