@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul, li, ol, h1, h2, h3, input,
h4, h5, p, form, button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #686868;
}

.navigation {
  height: 10vh;
}

a:hover,
a:visited {
  color: #000000;
}

ul,
.bodyText {
  color: #686868;
}

.logo img {
  width: 35px;
  height: 35px;
}

.navigation,
.menu,
.logo,
.auth {
  display: flex;
  align-items: center;
}

p,
button,
h1 {
  font-family: "Inter", sans-serif;
}

h1 {
  color: #0A093D;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
}

h1,
.bodyText {
  padding: 10px 0;
}

.bodyText {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 40px;
}

h2 {
  color: #2B2B39;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

form,
input {
  width: 150px;
  border: none;
  padding: 10px;
}

::-moz-placeholder {
  font-size: 0.7rem;
  opacity: 1;
  color: #686868;
}

::placeholder {
  font-size: 0.7rem;
  opacity: 1;
  color: #686868;
}

.menu {
  margin-right: 175px;
}

form {
  border-bottom: 1px solid #e5e5e5;
}

.generalButton,
.loginButton {
  background-color: #217BF4;
  color: #ffffff;
  font-size: 0.8rem;
  width: 170px;
  padding: 20px;
  margin-left: 40px;
  border: 1px solid #217BF4;
  border-radius: 20%;
}

.loginButton {
  padding: 15px;
  width: 150px;
}

.options {
  padding: 20px;
}

.navigation {
  justify-content: space-between;
}

.menu ul {
  padding: 5px 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.heroSection {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroImage {
  position: relative;
  width: 50%;
}

.heroImage .avaterThree {
  margin-bottom: 50px;
}

.heroImage .avaterTwo {
  margin-left: 28%;
}

.heroImage .avaterOne,
.heroImage .avaterTwo,
.heroImage .avaterThree {
  z-index: 20;
  position: relative;
}

.heroImage .triangle {
  position: absolute;
  top: 20%;
  left: 14%;
  z-index: 10;
}

.heroSection .heroText {
  width: 40%;
}

.subtitle {
  border-radius: 8px;
  background: #e7f1fd;
  color: #217BF4;
  border: none;
  padding: 15px 50px;
  font-size: 0.8rem;
}

.gradientBackground {
  background: linear-gradient(340deg, #D4E7FE 0%, #FFFFFF 90%);
}

.generalButton:hover,
.loginButton:hover {
  background-color: transparent;
  color: #217BF4;
  border: 1px solid #217BF4;
}

.aboutUs {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
  align-items: center;
}

.aboutText {
  width: 35%;
}

.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.imagePosition {
  display: flex;
  flex-direction: column;
}

.aboutText ul {
  list-style-type: none;
}

.aboutText li,
.aboutUs h3 {
  color: #0A093D;
}

.aboutUs h5 {
  color: #217BF4;
  font-weight: 500;
}

.aboutUs h3, .aboutUs h5,
.aboutText ul, .aboutUs p {
  padding: 15px 0;
}

.aboutUs li {
  padding: 5px;
}

.aboutUs h3 {
  font-size: 1.7rem;
}

.imageLeft, .imageTop,
.imageBottom {
  padding: 20px;
  border-radius: 12%;
}

.aboutDescription,
.acheivementDescription {
  color: #686868;
  line-height: 35px;
}

.acheivements {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin-bottom: 100px;
}

.cardTitleOne, .cardTitleTwo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.cardTitleTwo {
  margin-bottom: 25px;
}

.membersContainer {
  display: flex;
}

.membersPhoto, .awardsPhoto {
  margin-left: -10px;
}

.membersPhoto img {
  margin-right: -35px;
}

.cardArrow {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.color {
  color: #217BF4;
}

.awardsContainer {
  display: flex;
  align-items: center;
}

.members p {
  padding: 10px 40px;
}

.ratings, .awards {
  width: 25%;
}

.acheivement {
  width: 30%;
  padding-right: 20px;
}

.ratings, .awards {
  border: 1px solid rgba(140, 140, 140, 0.1);
  border-radius: 15px;
  background: #ffffff;
  padding: 30px;
}

.ratings {
  box-shadow: 0px 26px 49px 0px rgba(146, 165, 184, 0.14);
}

h4 {
  color: #0A093D;
  font-weight: 500;
}

.awardsPhoto {
  margin-top: 11px;
}

.ratingText, .awardText {
  padding: 25px 0;
  font-size: 0.9rem;
  color: #8C8C8C;
}

.acheivementText h5 {
  color: #217BF4;
  font-weight: 500;
}

.acheivementText h3 {
  color: #0A093D;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.acheivementDescription {
  font-size: 0.9rem;
}

.acheivementText h3,
.acheivementText h5,
.acheivementDescription {
  padding-bottom: 20px;
}

.discoverButton .generalButton {
  filter: drop-shadow(0px 10px 22px rgba(33, 123, 244, 0.26));
  margin-left: 0;
  display: flex;
  align-items: center;
}

.generalButton img,
.cardArrow img {
  padding-left: 10px;
}

.color:visited {
  color: #217BF4;
}/*# sourceMappingURL=App.css.map */